@import '../../../assets/scss/index.scss';

.admin-dashboard-container {
   min-height: 80vh;
   background-color: $light-grey;
   margin: 20px;
   padding: 20px;
   &-header {
      font-size: 3rem;
      font-weight: bold;
      color: $dark-grey;
   }
   .user-list {
      height: 70vh;
      overflow-y: auto;
      .users {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px;
         background-color: $white;
         margin-bottom: 10px;
         font-size: 1.5rem;
         font-weight: 600;
         border-radius: 5px;
         color: $dark-grey;
         transition: all 0.1s ease-in;
         &:hover {
            background-color: $secondary-color;
         }
         &-data {
            width: 300px;
         }
         &-action-panel {
            & > button {
               border-radius: 5px;
               border: 2px solid $secondary-color;
               background-color: $white;
               padding: 10px;
               margin: 0px 10px;
               font-size: 2rem;
               font-weight: 600;
               border-color: none;
               min-width: 50px;
               color: $secondary-color;
               &:hover {
                  color: $white;
                  border: 2px solid $white;
                  background-color: $secondary-color;
               }
            }
         }
      }
   }
}
